:root{
  --sidebar-width: 12rem; /* side bar width */
  --decorator-border: 2px solid #709970; /* change color and thickness of timeline */

}

.decorator::after{
  background-color: #709970; /* change color timeline dots */

}


/* Define the font family here */
body{
  font-family: "Roboto", sans-serif;

}